.title {
  color: lawngreen;
  font-size: 2.8vw;
  text-shadow: -1px 0 #13abdc, 0 1px #13abdc, 1px 0 #13abdc, 0 -1px #13abdc;
}

.example-card {
  color: #8c8c8c;
  background-color: #3C3C3C;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

.example-card div {
  padding-top: 18px;
  padding-left: 18px;
  font-size: 1.6vw;
  word-wrap: break-word;
  height: 25px;

}

.bottomDiv {
  padding-bottom: 18px;
}

.example-card mat-card-header {
  color: #0089b4;
  background-color: #1e1e1e;
  font-size: 30px;

  border-bottom-style: solid;
  border-width: 1px;
  border-color: white;
}

.mat-card-header-text {
  margin-left: 18px;
}

.mat-card-header .mat-card-title {
  margin-bottom: 6px;
  margin-top: 8px;
}

button {
  background-color: #13abdc;
  color: white;
  font-size: 1.2vw;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  white-space: normal;
  word-wrap: break-word;
  border-radius: 12px;
}

.square {
  max-height: 36px;
  max-width: 36px;
}

.resultButton {
  background-color: #41eb67;
  font-size: 1.8vw;
}

.textField {
  background-color: lightgray;
  height: 25px;
  text-align: right;
  font-size: 1.8vw;
  max-width: 120px;
}

.resultLabel {
  color: #ada8af;
  font-size: 2vw;
}

.resultOutput {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: #1e1e1e;
  color: #13abdc;
  font-size: 2vw;
  padding: 0 15px  0 15px;
  margin-left: 5px;
}
