<span style="color:red;" *ngIf="message">{{message}}</span>
<input style="display: none" #fileInput type="file" accept='image/*' (change)="preview(fileInput.files)"/>
<div fxLayout="column">

  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-around start" fxLayoutGap="20px"
       fxFlexOffset="10">

    <img fxFlexOffset="2" fxFlex src="assets/logo.png" [height]="90">

    <div fxLayout="column" fxLayoutGap="20px" fxFlex="40">

      <h1 fxFlex class="title">
        Simple Cell Counter
      </h1>

      <div fxLayoutGap="15px" fxLayout="row">
        <button class="square questionMark" fxFlex="13" >?</button>
        <button class="square" fxFlex="13" >
          <mat-icon>crop</mat-icon>
        </button>
        <button fxFlex="70" mat-button (click)="fileInput.click()">
          <div *ngIf="image">Upload another photo</div>
          <div *ngIf="!image">Upload photo</div>
        </button>
      </div>

      <div fxLayoutGap="15px" fxLayout="column">
        <mat-card class="example-card" style="padding: 0px;">
          <mat-card-header>
            <mat-card-title>Please, enter parameters</mat-card-title>
          </mat-card-header>
          <mat-card-content fxLayout="row">
            <span fxFlex="40">
              <div>
                Total volume
              </div>
              <div>
                Grid Volume
              </div>
              <div class="bottomDiv">
                Dilution
              </div>
            </span>
            <span fxFlex="40">
              <div>
                <input class="textField" matInput="number" [(ngModel)]="totalVolume">
              </div>
              <div>
                <input class="textField" matInput="number" [(ngModel)]="gridVolume">
              </div>
              <div class="bottomDiv">
                <input class="textField" matInput="number" [(ngModel)]="dilution">
              </div>
            </span>
            <span fxFlex="20">
              <div>
                mL
              </div>
              <div>
                μL
              </div>
            </span>
          </mat-card-content>
        </mat-card>
        <div fxLayout="row" fxLayoutGap="15px">
          <button fxFlex="41" class="resultButton" mat-button (click)="onUpload()">Count</button>
          <app-result-block [totalCells]="totalCells" fxFlex *ngIf="totalCells"> </app-result-block>
        </div>
      </div>

    </div>

    <div fxFlex="55" fxLayoutAlign="space-around center" fxLayout="column">
      <div fxLayoutAlign="space-around center" fxLayout="column">
        <app-cropper [imgURL]="imgURL"></app-cropper>
        <div fxFlexAlign="end" *ngIf="cellCount" fxLayout="row"><div class="resultLabel">Total cells counted:</div> <div class="resultOutput">{{cellCount}}</div></div>
      </div>
    </div>

  </div>

</div>
