.textField {
  background-color: lightgray;
  height: 25px;
  text-align: right;
  font-size: 1.5vw;
  color: #00005f;

}

label {
  color: #8c8c8c;
  font-size: 20px;
}

sup {
  color: #8c8c8c;
  font-size: 20px;
}
